@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Public+Sans:wght@100;200;300;400;600;700;800;900&family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    z-index: 10;

}

.header img{
    margin-left: 15xpx;
}

.menu-items{
    display: flex;
    align-items: center;
    font-weight: 400;
}

.menu-items a{
    text-decoration: none;
    color: black;
    margin: 8px;
}

.menu-items i{
    width: 20px;
    margin: 8px;
}

.banner-titles{
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.banner-title{
    font-family: 'Caveat', sans-serif;
    color: #fff;
    font-size: 50px;
}

.banner-subtitle{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
}

.container{
    margin-top: 55px;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    filter: blur(3px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headers-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    margin-top: 20px;
}

.headers-container h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 6px;
}

.underline {
    width: 60%;
    height: 1px; /* Altura da linha */
    background-color: black; /* Cor da linha */
    margin-top: 20px;
}


.products-container{
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-container{
    width: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 30px;
}

.image-container p{
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.image-shape {
    width: 200px;
    height: 200px;
    border-radius: 15px; /* Você pode ajustar esse valor para controlar o arredondamento dos cantos */
    overflow: hidden;
    position: relative;
}

.image-shape img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer{
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 5px 20px;
    margin-top: auto;
    z-index: 10;
}

.footer p{
    font-family: 'Caveat', sans-serif;
    font-weight: 700;
}

.chat-toggle{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #F8FAFB;
    border-radius: 50%;
    z-index: 11;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
    border: none;
}

.chat-toggle:hover{
    background-color: #fa3164;
}
